*~
*.bak
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini
tags
nbproject/

package-lock.json
/node_modules/*

/env.sh

/docker-compose.yml

/var/*
/server/*
/public/assets/js/*
/public/assets/css/*
/mysql/mysql_data/*
/nginx/logs/*

