*~
*.bak
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini
tags
nbproject/

package-lock.json
/node_modules/*

/env.sh

/docker-compose.yml

/var/*
/server/*.js
/public/assets/js/*
/public/assets/css/*
/mysql/mysql_data/*
/nginx/logs/*


*.pyc
/venv/*
__pycache__
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

/infra/.terraform
/infra/.terraform.tfstate.lock.info
/infra/terraform.tfstate*
/infra/var/*
/infra/bin/setup.conf

# lambda dif
/lambda/node_modules/*
