version: '3'

services:
  app:
    build: .
    ports:
      - '8000:8080'
    volumes:
      - ./nginx/logs:/var/log/nginx
      #- '.:/gratefulchat'
    tty: true
    environment:
      #NODE_ENV: 'development'
      NODE_ENV: 'production'
      SESSION_KEY: 'set-your-session-key'
      AWS_ACCESS_KEY_ID: 'AKIA5QZ3BYNOT4ALYUSJ'
      AWS_SECRET_ACCESS_KEY: 'SmQsAboHpVaNgxhIXrw0w0CYP8SD7CRGBTMY3OuH'
      DB_HOST: 'db'
      DB_USER: 'root'
      DB_PASSWORD: 'password'
      DB_NAME: 'gc_db'
      #DB_LOGGING: '1'
      TZ: Asia/Tokyo
    links:
      - 'db'
    #command: python3 /flaskbird/server/run.py

  db:
    build: ./mysql
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ./mysql/mysql_data:/var/lib/mysql
      - ./mysql/sqls:/docker-entrypoint-initdb.d # import initiarize data
    environment:
      - MYSQL_ROOT_PASSWORD='password'
