#!/bin/bash

export SESSION_KEY=""
export PORT=8080
#export USE_SSL=1

export DB_HOST=localhost
export DB_PORT=3306
export DB_USER=root
export DB_PASSWORD=""
export DB_NAME=gc_db
#export DB_LOGGING=1

#export ADMIN_USER_ID=1

export LEX_BOT_NAME=GCSupportBot
export AWS_ACCESS_KEY=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_REGION=us-west-2
