#!/bin/bash

# Common
export AWS_DEFAULT_REGION="ap-northeast-1"

# Setup infra
export DB_PASSWORD=""
export TERRAFORM_BACKEND_BUCKET="fggc-prod-terraform-state-hoge"
export DOMAIN_NAME="gc.example.com"

# App
export NODE_ENV=development # development / production
export SESSION_KEY="hoge"

#export PORT=8080
#export USE_SSL=1
export DATABASE_URL=mysql://db_admin:password@localhost:3306/gc_db
#export DB_LOGGING=1
#export ADMIN_USER_ID=1

export AWS_S3_BUCKET_NAME=grateful-chat-hoge
#export AWS_S3_KEY_FIREBASE_CREDENTIAL=config/firebase-admin-credentials.json
#export AWS_S3_KEY_FIREBASE_APP_SDK_CONFIG=config/firebase-app-sdk-config.json

#export AWS_LEX_BOT_NAME=GCSupportBot

